<h2>@ViewBag.Head</h2>
@{
    <div>
            <h3>ID: @Model.Id</h3>
            <h2>Фамилия: @Model.Surname</h2>
            <h3>Имя: @Model.Name</h3>
            <h3>Отчество: @Model.Patronymic</h3>
            <h3>Дата рождения: @Model.Birthday</h3>
        </div>
}
