@{
    <h3>
        @ViewBag.Head
    </h3>
    <div>
        <h3>Книга: @Model.Book.Title</h3>
        <h3>Читатель (Имя): @Model.Human.Name</h3>
        <h3>Читатель (Фамилия): @Model.Human.Surname</h3>
        <h3>Дата и время подбора: @Model.PickedUp</h3>
    </div>
}
